################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CoreIdentity.API/bin/Debug/netcoreapp3.1
/CoreIdentity.API/Logs
/CoreIdentity.API/obj
